# Gradle files
.gradle/
build/
*/build/

# Local configuration file (sdk path, etc)
local.properties

# Android Studio / IntelliJ IDE files
.idea/
*.iml
*.iws

# Mac OS X hidden files (good to have just in case team members use Macs)
.DS_Store

# Log Files
*.log

# Keystore files (Never commit these, even internally!)
*.jks
*.keystore

# Google Services (if you ever use Firebase)
google-services.json

# Profiling and Captures
/captures

# External native build folder generated in Android Studio
.externalNativeBuild
.cxx/

# NDK
obj/

# Testing
/jacoco